@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.btn {
    width: 160px;
    height: 45px;
    background-color: #ec644b;
    border-radius: 30px;
    border: none;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    &__form {
        position: absolute;
        margin-top: 30px;
        top: 112px;
        left: 40%;
    }
    &_question {
        margin-left: 485px;
        margin-bottom: 20px;
    }
}

.divider {
    width: 148px;
    height: 1px;
    background-color: #ec644b;
    margin: 20px auto 0 auto;
}

.title {
    padding-top: 51px;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
}
.subtitle {
    text-align: center;
    font-size: 21px;
    font-weight: 300;
    margin: 17px auto 0 auto;
    color: #2e2e2e;
    width: 879px;
    line-height: 21px;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/advantages';
@import 'blocks/organisation';
@import 'blocks/agency';
@import 'blocks/price';
@import 'blocks/manage';
@import 'blocks/scheme';
@import 'blocks/feedback';
@import 'blocks/questions';
@import 'blocks/location';
@import 'blocks/footer';