.footer {
    height: 201px;
    background-color: #25333c;
    &__header {
        display: flex;
        justify-content: space-between;
        &_title {
            display: flex;
        }
    }
    &__divider {
        width: 1171px;
        height: 1px;
        background-color: #ffffff;
        margin: 0 auto;
    } 
    &__subheader {
        display: flex;
        justify-content: space-around;
        &-create {
            &:after {
                content: "";
                display: block;
                width: 30px;
                height: 30px;
                background-image: url(../../icons/footer/less.png);
                background-size: cover;
            }
        }
    }
}